body{
  margin:0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  display:flex;
  align-items:center;
  position:fixed;
  z-index:1;
  width:100%;
  height:80px;
  border-bottom: 1px solid black;
  background-color:white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.story h3{
  width:300;
}
h4{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.logo{
  display:flex;
  align-items:center;
  flex-grow:1;
  padding-left:30px;
  border: 1px solid black;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo h1{
  color:MediumAquamarine;
  background-color:white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.nav{
  display:flex;
}

.nav li{
  display:inline-block;
  padding: 20px 10px;
}

.main{
  display:flex;
  border: 1px solid black;
  padding-top:80px;
  z-index:0;
  position:relative;
}

.col-large{
  display:flex;
  flex-direction:column;
  width:630px;
  align-items:flex-start;
  border: 1px solid black;
}

.col-medium{
  display:flex;
  flex-direction:column;
  width:300px;
  border: 1px solid black;
}

.col-small{
  display:flex;
  flex-direction:column;
  width:240px;
  border: 1px solid black;
}

.main-story{
  display:flex;
  flex-direction:column;
  border: 1px solid black;
  width:630px;
}

.stories-medium{
  width:300px;
}

.stories-small{
  width: 240px;
}

.story-image,
.story-image-headline{
  height:300px;
  display:flex;
  flex-direction:row;
  text-align:left;
  border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width:630px;
}

.story-image-headline h2{
  display:flex;
  margin:0;
  flex-direction:row;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  align-items:flex-start;
  border: 1px solid black;
}

.stories{
  display:flex;
  border: 1px solid black;
}

.story{
  display:flex;
  flex-direction:column;
  border: 1px solid black;
}

.content{
  display:flex;
  flex-direction:column;
  border: 1px solid black;
}

.narrative {
  display:flex;
  flex-direction:column;
  border: 1px solid black;
}

.fence{
  display:flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}
.camera{
  display:flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}
.cats {
  display:flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
